.center_box {
  max-width: 750px;
  min-height: 85vh;
  background: #FFF4FF;
  position: relative;
  padding-bottom: 15vh;
  margin: 0 auto;
}

.middle_box {
  position: relative;
  margin: 0 auto;
  margin-top: -252px * $scale;
}

.q-title {
  padding-bottom: 26px * $scale;
  font-size: 30px * $scale;
  font-weight: bold;
  border-bottom: 1px dashed rgba(106, 67, 209, .3);
  display: flex;
  align-items: center;
}

.q-tip {
  display: inline;
  padding: 10px * $scale 20px * $scale;
  font-size: 26px * $scale;
  background: linear-gradient(#9f7cfc, #6a43d1);
  color: #fff;
  border-radius: 50px * $scale;
  margin-right: 18px * $scale;
}

.q-sub-content {
  margin-top: 60px * $scale;
  .van-radio-group.horRadio {
    font-size: 28px * $scale;
  }
  .van-radio-group.verRadio {
    font-size: 28px * $scale;
    .van-radio{
      flex: 1;
      flex-direction: column-reverse;
      margin-right: 12px * $scale;
      .van-radio__label {
        margin-left: 0;
        margin-bottom: 20px * $scale;
        font-weight: bold;
        line-height: normal;
        text-align: center;
      }
    }
  }
}

.q-content {
  .van-radio__icon .van-icon,
  .van-checkbox__icon .van-icon {
    border: 2px solid #6f38d4;
    line-height: 1.2;
  }
  .van-checkbox__label {
    color: #333;
    font-size: 24px * $scale;
    line-height: normal;
  }
}

.rule {
  font-size: 22px * $scale;
  padding: 20px * $scale 50px * $scale;
  .title {
    margin-top: 34px * $scale;
    font-size: 24px * $scale;
    font-weight: bold;
  }
  .rule-height{
    height: 12px * $scale;
  }
}